a {
    color: hsla(0, 0%, 0%, 0.816);

}
.backg-img{

    background-image: url('https://i0.hdslb.com/bfs/article/11496bda0faae2143e697fc4b35569c0eca9c687.jpg');
    background-size: cover;
    background-position: center;
}


.img-demo {
    color: bisque;
}

.box {
    display: flex;
    background-color: rgba;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   
    height: 50rem;
}


.row {
    display: flex;
    text-align: center;
    
}

.item {
    display: flex;
    height: 10rem;
    width: 50rem;
    font-size: 3rem;
    background-color: #ffffff82;
    margin: 0 10px;
    font-style: italic;
    
}